[run]
source = .

omit =
    */migrations/*
    */tests/*
    *admin.py
    *settings.py
    *tests.py
    *urls.py
    *wsgi.py
    *manage.py
    *apps.py
    *cdn.py
    *asgi.py
    *celery.py
    websocket/routing.py


[report]
precision = 2
show_missing = True
skip_empty = True
