__pycache__/
*.py[cod]
*.log
.DS_Store
.bash_history
database/
.cache/
static/*
*.pem
api*.json
tmp/
.python_history
venv/
.vscode
.ssh
.vscode-server
.gitconfig
.coverage
.env
.env.*
celerybeat-schedule
.kube
*.code-workspace
docker-config.json
