__pycache__/
*.py[cod]
*.log
.DS_Store
.bash_history
database/
.cache/
static/*
media/
*.pem
api*.json
tmp/
.python_history
venv/
.vscode
.ssh
.vscode-server
.gitconfig
.coverage
.env
.env.staging
.env.prod
celerybeat-schedule
.kube
*.code-workspace
*.mo
