[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
psycopg2-binary = "2.9.6"
coverage = "7.2.3"
model-bakery = "1.11.0"
flake8 = "6.0.0"
redis = "4.3.6"
social-auth-app-django = {editable = true, ref = "master", git = "https://github.com/python-social-auth/social-app-django.git"}
sentry-sdk = "1.20.0"
gunicorn = "20.1.0"
django-ninja = "0.21.0"
pydantic = {extras = ["email"], version = "1.10.7"}
django-cors-headers = "3.14.0"
requests = "2.28.2"
uvicorn = {extras = ["standard"], version = "0.21.1"}
channels = "4.0.0"
channels_redis = "4.0.0"
celery = {extras = ["redis"], version = "5.3.0b2"}
boto3 = "1.26.118"
django-storages = "1.13.2"
python-decouple = "3.8"
black = "23.3.0"
isort = "6.0.0b2"
daphne = "4.0.0"
django-jazzmin = "2.6.0"
django-rosetta = "0.9.9"
ipython = "8.12.0"
django-object-actions = "4.1.0"
django-silk = "*"
locust = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
checkmigrations = "python ./manage.py makemigrations --check --dry-run"
checks = "sh -c 'flake8 && python ./manage.py makemigrations --check --dry-run'"
dumpdata = "python ./manage.py dumpdata --natural-foreign --natural-primary --exclude=contenttypes --exclude=auth.Permission --indent=4 --output core/data/seed.json"
lint = "flake8"
loaddata = "sh -c 'python ./manage.py loaddata core/data/seed.json'"
makemigrations = "python ./manage.py makemigrations"
manage = "python ./manage.py"
migrate = "python ./manage.py migrate"
collectstatic = "python ./manage.py collectstatic --no-input"
createsuperuser = "python ./manage.py createsuperuser --email $SUPERUSER_USERNAME --no-input"
reset-db = "sh -c 'python ./manage.py reset_db --noinput && python ./manage.py migrate --noinput'"
shell = "python ./manage.py shell"
test = "python ./manage.py test -v 2"
test-w-coverage = "sh -c 'coverage run manage.py test --noinput && coverage report'"
start = "uvicorn --host 0.0.0.0 --port 8000 --workers $UVICORN_WORKERS core.asgi:application --log-level $DJANGO_LOG_LEVEL"
celery_worker = "celery -A core.celery.app worker -B -l $CELERY_LOG_LEVEL -c $CELERY_CONCURRENCY"
format = "black -S ."
dev = "uvicorn --host 0.0.0.0 --port 8000 core.asgi:application --reload"
celery_dev = "celery -A core.celery.app worker -B"
sort-imports = "isort --profile=black --skip-glob='**/migrations/*.py' --skip-glob='**/models/__init__.py' ."
makemessages = "python ./manage.py makemessages -l pt_BR"
locust = "locust -f ./locust/locustfile.py --host=http://nginx:80"
