[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
coverage = "*"
model-bakery = "*"
flake8 = "*"
redis = "*"
social-auth-app-django = {editable = true, ref = "master", git = "https://github.com/python-social-auth/social-app-django.git"}
sentry-sdk = "*"
gunicorn = "*"
django-ninja = "*"
pydantic = {extras = ["email"], version = "*"}
django-cors-headers = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
channels = "*"
channels_redis = "*"
celery = {extras = ["redis"], version = "*"}
boto3 = "*"
django-storages = "*"
python-decouple = "*"
black = "*"
isort = "*"
daphne = "*"
django-jazzmin = "*"
django-rosetta = "*"
ipython = "*"
django-object-actions = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
checkmigrations = "python ./manage.py makemigrations --check --dry-run"
checks = "sh -c 'flake8 && python ./manage.py makemigrations --check --dry-run'"
dumpdata = "python ./manage.py dumpdata --natural-foreign --natural-primary --exclude=contenttypes --exclude=auth.Permission --indent=4 --output core/data/seed.json"
lint = "flake8"
loaddata = "sh -c 'python ./manage.py flush --noinput && python ./manage.py loaddata core/data/seed.json'"
makemigrations = "python ./manage.py makemigrations"
manage = "python ./manage.py"
migrate = "python ./manage.py migrate"
collectstatic = "python ./manage.py collectstatic --no-input"
createsuperuser = "python ./manage.py createsuperuser --email $SUPERUSER_USERNAME --no-input"
reset-db = "sh -c 'python ./manage.py reset_db --noinput && python ./manage.py migrate --noinput'"
shell = "python ./manage.py shell"
test = "python ./manage.py test -v 2"
test-w-coverage = "sh -c 'coverage run manage.py test --noinput && coverage report'"
start = "uvicorn --host 0.0.0.0 --port 80 --reload --workers 2 core.asgi:application"
celery_worker = "celery -A core.celery.app worker -l info"
format = "black -S ."
sort-imports = "isort --profile=black --skip-glob='**/migrations/*.py' --skip-glob='**/models/__init__.py' ."
makemessages = "python ./manage.py makemessages -l pt_BR"
