{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/match_chat_box.css' %}"/>
	<script type="text/javascript">
        const chatData = JSON.parse('{{ chat_data|escapejs }}');
    </script>
	<script type="text/javascript" src="{% static 'admin/js/match_chat.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
    <fieldset class="module aligned">
        <h2>Chat da Partida</h2>
		<div id="chatSearch">
			<p>Filtros:</p>
			<input type="text" id="usernameSearch" placeholder="username">
			<input type="text" id="steamidSearch" placeholder="steamid">
			<input type="text" id="messageSearch" placeholder="termo">
		</div>
        <div id="chatBox">
        </div>
    </fieldset>
{% endblock %}
